<VirtualHost *:80>
    # Other directives here

    # Route requests to /api to the PHP app
    ProxyPass /api http://localhost:6666/api
    ProxyPassReverse /api http://localhost:6666/api

    # Route all other requests to the Frontend app
    ProxyPass / http://localhost:5555/
    ProxyPassReverse / http://localhost:5555/
</VirtualHost>